/*aqui van comentarios en css*/
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
body{
    font-family: "Open Sans", Arial, San-serif;
    font-size: 16px;
}
/*le damos estilos a la clase contenedor*/
.contenedor
{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
/*---------HEADER--------*/
header{
    width: 100%;
    background: url('../img/acerca\ de.jpeg') #281a0c; /*agrega un aimagen y le pone color en la parte de atrás*/
    background-size: cover;/*ocupa toda la seccion de mi contenedor*/
    background-attachment: fixed; /*Mantiene la imagen fija donde se la coloque*/
    background-position: center 0; /*alinea la imagen*/
}
header .contenedor {
    position: relative; /*cambia el tamaño automaticamente sin darle valor*/
    height: 700px;
}
header .menu {
    width: 100%; /*ocupa el 100 del contenedor*/
    text-align: right; /*pone al lado derecho*/
}
header .menu a { /* busca en el header la clase menu y la letra a*/
    color: #fff; /*la letra en blanco*/
    font-size: 20px; /*aumenta el tamaño de la letra*/
    font-weight: 300; /*aumenta la anchura de la letra*/
    display: inline-block; /*cambia a las etiquetas de tipo seccion a tipo bloque*/
    margin: 40px 20px; /*arriba y abajo - derecha izquierda*/
    text-decoration: none; /*borra la línea de la parte de abajo*/
    position: relative; /* puede cambiar la posicion en cualquier momento */
}
/*pseudo clase= clase dentro de una clase*/
header .menu a:hover { /*hover= da una animación*/
    text-decoration: underline;/*cuando pasa el cursor se genera la linea*/
}
header .texto {
    width: 100%; /*anchura del 100 del 90%*/
    color: #fff;
    position: absolute; /*determina la posicion*/
    top: 50%;/*que empiece al 50% del contenedor */
    margin-top: -52px; /*margen en el lado de arriba y que empiece en -52px*/
}
header .texto .nombre { /*Modifica "café san Francisco"*/
    font-size: 50px; /* tamaño*/
    font-weight: 600; /*anchura*/
}
header .texto .nombre span { /*palabra clave dentro del span "CAFÉ"*/
    font-weight: 300; /*anchura*/
}
header .texto h3 {
    font-weight: 300; /*anchura*/
    font-size: 25px; /*tamaño*/
    font-style: italic;/*cursiva*/
}
/*----------MAIN------------*/
.main {
    background: url('../img/bg.jpeg');
    background-repeat: repeat;
}
.main .acerca-de .contenedor {
    overflow: visible;
    position: relative;
}
.main .acerca-de .foto {
    width: 80%;
    position: absolute;
    left: 0;
    top: -50px;
    z-index: 0;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35);
}
.main .acerca-de .foto img {
    vertical-align: top;
    width: 100%;
}
.main .acerca-de article {
    background: #fff;
    padding: 40px;
    width: 50%;
    position: relative;
    top: 500px;
    z-index: 1;
    float: right;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35);
}
.main .acerca-de article h3 {
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 40px;
}
.main .acerca-de article p {
    line-height: 28px;
    margin-bottom: 15px;
}